{% extends "base.html" %}
{% block content %}
<div class='summary-fixed-top mb-3'>
  <h3 class='m-0 fw-bold'>マイドリンク›登録内容詳細</h3>
</div>

<div class="text-center mb-3">
{% if record.image %}
  <img src="{{ record.image.url }}"
       alt="drink"
       style="max-width:250px; width:100%; height:auto; border-radius:8px;">

{% else %}
    <div style="
        width:250px;
        height:250px;
        margin:0 auto;
        background:#f2f2f2;
        border-radius:8px;
        display:flex;
        align-items:center;
        justify-content:center;
    ">
    <span style='font-size:12px; color:#888;'>No Image</span>
    </div>
{% endif %}
</div>


<br>
<div style="padding-left:12px; padding-right:6px;">

    <p>記録日： {{ record.recorded_date }}</p>
    <p>飲み物名： {{ record.drink_name }}</p>
    <p>飲み物の種類： {{ record.drink_type }}</p>
    <p>店舗名： {{ record.store_name|default:'-' }}</p>
    <p>メーカー名： {{ record.maker_name|default:'-'}}</p>

    <p>素材： </p>
    <ul>
    {% for ing in record.ingredients.all %}
        <li>{{ ing.name }}</li>
    {% empty %}
        <li>未選択</li>
    {% endfor %}
    </ul>

    <p>味の評価： {{ record.get_taste_rating_display }}</p>

    <p>味の特徴：</p>
    <ul>
    {% for tf in record.taste_features.all %}
        <li>{{ tf.name }}</li>
    {% empty %}
        <li>未選択</li>
    {% endfor %}
    </ul>

    <p>総合評価：
    <span style='font-size:18px; color:#f5b301;'>
        {% for i in '012' %}
        {% if forloop.counter0 < record.total_rating %}
            ★
        {% else %}
            ☆
        {% endif %}
        {% endfor %}
    </span>
    </p>
    <p>メモ： </p>
    <p>{{ record.memo|default:'-'|linebreaksbr }}</p>
</div>

<hr>

<div class='mt-4 d-flex justify-content-center'>
    <div style='width:220px;'>
    <a class='btn btn-primary w-100' 
    href="{% url 'drink_app:edit' record.id %}">編集
    </a>
    </div>
</div>

<div class='mt-2 d-flex justify-content-center'>
    <div style='width:220px;'>
    <button type='button'
            class='btn btn-danger w-100'
            data-bs-toggle='modal'
            data-bs-target='#deleteModal'>削除
    </button>
    </div>
</div>

<div class="mt-4 d-flex justify-content-end px-2">
  <a href="{% url 'drink_app:list' %}"
     class="text-decoration-none small">
    ← 一覧へ戻る
  </a>
</div>


<div class='modal fade' id='deleteModal' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>

      <div class='modal-header'>
        <h5 class='modal-title'>削除確認</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
      </div>

      <div class='modal-body'>
        「{{ record.drink_name }}」を削除しますか？
      </div>

      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary'
                data-bs-dismiss='modal'>
            いいえ
        </button>

        <form method='post'
              action='{% url 'drink_app:delete' record.id %}'>
          {% csrf_token %}
          <button type='submit' class='btn btn-danger'>
            はい
          </button>
        </form>

      </div>
    </div>
  </div>
</div>


{% endblock %}
