{% extends "base.html" %}
{% block content %}
<div class='app-container'>

<!-- 固定 -->
<div class="list-fixed-top">
    
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="m-0" style="font-weight:700;">マイドリンク</h3>
    </div>

<!-- テキスト検索 -->
    <form method='get' action='{% url 'drink_app:list' %}' class='mb-1'>
    <div class="input-group">
      <input type='text' name='q' value='{{ query }}' 
     placeholder='飲み物名・店舗名・メーカー名で検索' class='form-control'
      >
    <button class='btn btn-outline-secondary' type='submit'>検索</button>
    </div>
    </form>

<!-- フィルター検索 -->
    <div class='text-center mt-2 mb-1'>
       <a href='{% url 'drink_app:filter' %}' style='font-weight:550; text-decoration:none;'>
           フィルター検索
       </a>
    </div>

</div>

<!-- 記録追加ボタン -->
<div class="fab-add">
  <a href="{% url 'drink_app:create' %}" class="btn btn-secondary">
    ＋
</a>
</div>

<!-- 記録一覧 -->
{% if page_obj %}
<div class='row row-cols-3 g-3'>

  {% for r in page_obj %}
  <div class='col'>
    <div class='card h-100'>
      <a href="{% url 'drink_app:detail' r.id %}" 
         style="text-decoration:none; color:inherit;">

    <!-- 画像 -->
    {% if r.image %}
        <img src='{{ r.image.url }}' class='card-img-top'
             style='aspect-ratio:1/1; object-fit:cover;'>
    {% else %}
        <div style='aspect-ratio:1/1; background:#f2f2f2;
                    display:flex; align-items:center; justify-content:center;'>
        <span style='font-size:12px; color:#888;'>No Image</span>
        </div>
     {% endif %}

    <div class='card-body p-2'>

    <!-- 星 -->
    <div style='font-size:14px; color:#f5b301;'>
    {% for i in "012" %}
        {% if forloop.counter0 < r.total_rating %}
            ★
        {% else %}
            ☆
        {% endif %}
    {% endfor %}
    </div>

    <!-- 飲み物名 -->
    <div style='font-weight:600; font-size:13px;'>
        {{ r.drink_name }}
    </div>
    
    <!-- 記録日 -->
    <div style='font-weight:600; font-size:11px;'>
        {{ r.recorded_date }}
    </div>
    </div>
    </a>
    </div>
  </div>
  {% endfor %}

</div>

<!-- ページ移動 -->
    {% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="ページ" style="margin-top: 16px;">
      <ul class="pagination pagination-sm justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
          <a class="page-link" href="?q={{ q }}&start={{ start }}&end={{ end }}&drink_type={{ drink_type }}&taste={{ taste }}&total={{ total }}&page={{ page_obj.previous_page_number }}">
前へ</a>
          </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
          {% else %}
            <li class="page-item">
            <a class="page-link" href="?q={{ q }}&start={{ start }}&end={{ end }}&drink_type={{ drink_type }}&taste={{ taste }}&total={{ total }}&page={{ num }}">
{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
          <a class="page-link" href="?q={{ q }}&start={{ start }}&end={{ end }}&drink_type={{ drink_type }}&taste={{ taste }}&total={{ total }}&page={{ page_obj.next_page_number}}">
次へ</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

{% else %}
    <p>まだ記録がありません。</p>
{% endif %}

{% endblock %}
