{% extends "base_auth.html" %}
{% block content %}

<div class="container" style="max-width:420px; padding-top:60px;">

  <div class= 'mx-auto' style='width:100%; max-width:400px;'>

    <h4 class="mb-4 text-center">新しいパスワード設定</h4>

<br>
    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">新しいパスワード</label>
        <input type="password" name="password1" class="form-control" required>
      </div>

    <div class="mb-3 p-3"
         style="background:#f4f4f4; border-radius:10px; font-size:13px; color:#666; line-height:1.6;">
      ・パスワードは最低8文字以上必要です<br>
      ・よく使われるパスワードにはできません<br>
      ・数字だけのパスワードにはできません
    </div>


      <div class="mb-3">
        <label class="form-label">パスワード確認</label>
        <input type="password" name="password2" class="form-control" required>
      </div>

      {% for message in messages %}
        <div class="text-danger small mt-2">{{ message }}</div>
      {% endfor %}

      <div class="mt-3 text-center">
        <button type="submit" class="btn btn-primary px-4">変更する</button>
      </div>
    </form>
<br>
    <div class="mt-3 text-center">
      <a href="{% url 'accounts:login' %}" class="small text-decoration-none">
        ← ログイン画面へ戻る
      </a>
    </div>

  </div>
</div>

{% endblock %}